git "https://gitlab.com/eyeo/adblockplus/ios-libraries/HockeySDK-iOS" "noissue/hockey-xcode-102"
github "CocoaLumberjack/CocoaLumberjack"
github "kitt-browser/AttributedMarkdown" "master"
github "ReactiveX/RxSwift" ~> 4.0
