github "CocoaLumberjack/CocoaLumberjack"
git "https://gitlab.com/eyeo/adblockplus/ios-libraries/AttributedMarkdown" "master"
git "https://gitlab.com/eyeo/adblockplus/ios-libraries/RxSwift" ~> 4.0
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Answers.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
