//
//  AdblockBrowserDebug.xcconfig
//  AdblockBrowser
//
//  Created by Pavel Zdenek on 21/02/2017.
//  Copyright © 2017 Salsita s.r.o. All rights reserved.
//

ASSETCATALOG_COMPILER_APPICON_NAME = AppIconDev
SWIFT_ADDITIONAL_FLAGS = "-DDEVBUILD_FEATURES" "-DDEBUG"
// Eyeo Enterprise
DEVELOPMENT_TEAM = G5LEUTX2F6
CODE_SIGN_IDENTITY = iPhone Distribution: Eyeo GmbH (G5LEUTX2F6)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution // override default "iPhone Developer"
PROVISIONING_PROFILE_SPECIFIER = Adblock Browser Devbuild In House
